body {
    font-family: 'Pokemon Solid', cursive;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

h1 {
    color: #e74c3c;
    font-size: 2em;
}

input {
    width: 70%;
    padding: 8px;
    margin-top: 10px;
    border: 1px solid #e74c3c;
    border-radius: 5px;
}

#resultado {
    margin-top: 20px;
}

div {
    background-color: #fff;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: block;
    margin: auto;
}

button, a {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 10px 15px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}

#habilidades {
    margin-bottom: 50px;
}

#habilidades ul {
    list-style-type: none;
    padding: 0;
}

#habilidades li {
    display: inline-block;
    background-color: #fff;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
